.userdash {
    background-color: rgb(0,0,0);
    height: 100vh;
    color: white;
    width: 100%;
    /* display: flex; */
  }
  
  /* .sidebar {
    color: white;
    height: 100vh;
  }
   */
  .nav1, .nav2 {
    background-color: rgb(16, 16, 16);
    padding: 20px !important;
    border-radius: 9px;
    margin-bottom: 9px;
  }
  
  .nav-link {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 1.3rem;
  }
  
  .nav-link svg {
    margin-right: 10px;
  }
  
  .nav-link:hover {
    color: #7691eb;
  }
  




/* .sidebar {
    color: white;
    width: 200px;
    flex-shrink: 0;
    position: fixed;
    left: 0; 
    top: 0; 
    bottom: 0; 
    overflow-y: auto;
}

.col {
    flex: 1; 
    overflow-y: auto; 
} */
